/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common CSS and uitilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0 auto;
}
main{    
    width: 1440px;
    background: #FFFFFF;
}

/*top banner styles*/

.top-banner{
    
    height: 677px;
    background: #2D25A0;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column-gap:24px ;
}
.half-width h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 20px;
    color: #FFFFFF;
}
.watch-live-button{    
    background: #E02C6D;   
}
.half-width a{
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.half-width a:hover{
    background-color: green;
    border-radius: 10px;
}
.half-width img{
    width: 556.01px;
    height: 438px;
}

/*----Player's styles*/
.players-profile{
    width: 80%;
    margin: 0 auto;
}
.all-player{
        display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.container{     
    overflow: hidden;  
    /*margin: 70px 0 27px 0; */
    margin-bottom: 27px;
    margin-top: 70px;
    width: 330px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player-name{
    margin-left: 15px;
}
.player-info h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.player-detail{
    text-align: justify;
    padding:5px 5px 5px  10px;
    font-family: Poppins;    
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

 .player-img{
    text-align: center;
}
.container .player-img img{
    margin-top: 15px;
    width: 300px;
    height: 256px;
}
/*--- Footer styles---*/

footer{
    width: 100%;
}
footer .main{
    
   /* margin: 0 auto;*/
}
.footer-logo img{
        margin-left: 425px;
        width: 483.87px;
        height: 110px;    
}
.social-links{
    margin: 0 auto;
    width: 170px;
    height: 32px;
}
.social-links a{
    text-decoration: none;
    margin-right: 5px;
}
.social-links a .filled{
    color:gray;
}
.footer-text{
    text-align: center;
}
/*-------
Media Quaries
-----------*/

/*Mobile Devices*/

@media only screen and (max-width: 688px) {
 .top-banner{
   
    flex-direction: column;
    width:100%; 
      
 }  
 .half-width{
    width: 100%;    
 }
 .half-width h1{      
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
 }
 .half-width a{
    padding: 10px 24px;    
    width: 168px;
    height: 44px;
 }
 .half-width img{
    width: 329px;
    height: 259.17px;
 }
 .all-player{    
   grid-template-columns: repeat(1, 1fr);
}
footer{
    width: 100%;
}
.footer-logo img{
    margin-left: 180px;
    width: 265px;
    height: 63px;    
}
.social-links{
    width:100%;
     
}

    
}
/*Tablet Devices*/

@media only screen and (min-width:689px) and (max-width:992px) {

   
}
