/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common CSS and uitilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0 auto;
}
main{
    /*display: flex;
    justify-content: center;*/
}

/*top banner styles*/

.top-banner{
    /*width: 1440px;*/
    height: 677px;
    background: #2D25A0;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column-gap:24px ;
}
.half-width h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 20px;
    color: #FFFFFF;
}
.watch-live-button{    
    background: #E02C6D;   
}
.half-width a{
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.half-width a:hover{
    background-color: green;
    border-radius: 10px;
}
.half-width img{
    width: 556.01px;
    height: 438px;
}

/*----Player's styles*/
.players-profile{
   /*width: 1440px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;*/
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
     
}
.container{     
    overflow: hidden;  
    margin: 70px 0 27px 0; 
    width: 330px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player-name{
    margin-left: 15px;
}
.player-detail{
    padding: 5px;
}
.player-detail, .player-img{
    text-align: center;
}
.container .player-img img{
    margin-top: 15px;
    width: 300px;
    height: 256px;
}

